<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	http:// www.springframework.org/ schema/ util
	https:// www.springframework.org/ schema/ util/ spring-util.xsd
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">


	<context:annotation-config />

	<bean class="com.wiley.SpringCore.autowire.annotation.Address"
		name="address">
		<property name="city" value="benglur" />
		<property name="street" value="Marathahalli" />
	</bean>


	<bean class="com.wiley.SpringCore.Autowire.Annotation.Employee" name="emp1"
		autowire="byName" />
</beans>