/BIFunctionClass.class
/BuiltInConsumer.class
/BuiltInPredicate.class
/BultInSupplier.class
/FunctionalInterfaceClass.class
/Methodreference.class
/MultiFunction.class
/Printable.class
/Sayable.class
/calc.class
